﻿@model IEnumerable<HomeAutomation.Models.Entities.Device>

@{
    ViewBag.Title = "Device list";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        New device
    </a>
</p>

<div class="box">
  <div class="box-body table-responsive">
    <table class="table table-hover">
      <tr>
        <th>
          Location @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.LocalIP)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
      </tr>

      @foreach (var item in Model)
      {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.LocalIP)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
              @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
              @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
              @Html.ActionLink("Details", "Details", new { id = item.Id }) |
              @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
          </tr>
      }
    </table>
  </div>
</div>