﻿@model HomeAutomation.Web.ViewModels.Account.ExternalLoginListViewModel
@using Microsoft.Owin.Security

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() != 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            <br />
            <div class="social-auth-links text-center">
                @Html.AntiForgeryToken()
                <div id="socialLoginList">
                    <p>
                        <button type="submit" class="btn btn-block btn-social btn-facebook btn-flat"
                                id="Facebook" name="provider" value="Facebook"
                                title="Log in using your Facebook account">
                            <i class="fa fa-facebook"></i> Sign in using
                            Facebook
                        </button>

                        <button type="submit" class="btn btn-block btn-social btn-google btn-flat"
                                id="Google" name="provider" value="Google"
                                title="Log in using your Google account">
                            <i class="fa fa-google-plus"></i> Sign in using
                            Google+
                        </button>
                    </p>
                </div>
            </div>
        }
        
        @*<a href="#" class="btn btn-block btn-social btn-google btn-flat">
            <i class="fa fa-google-plus"></i> Sign in using
            Google+
        </a>*@
    }
}
