﻿@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Confirm Email";
}

<br />
<h2 class="login-box-msg">Email confirmed</h2>
<p class="login-box-msg">
    Thank you for confirming your email.<br />
    You can @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
