﻿@model HomeAutomation.Web.ViewModels.Account.ExternalLoginConfirmationViewModel
@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Register";
}

<p class="login-box-msg">
    You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
    Please choose a username and click the Register button to finish your registration.
</p>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-xs-offset-8 col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
