﻿@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Login Failure";
}

<br />
<h2 class="login-box-msg text-danger">Login failed</h2>
<p class="login-box-msg">
    Unsuccessful login with service.
</p>
