﻿@model HomeAutomation.Web.ViewModels.Account.ForgotPasswordViewModel
@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<br />
<h2 class="login-box-msg">Forgotten password?</h2>
<p class="login-box-msg">
    Enter your email below.
</p>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>

    <div class="row">
        <!-- /.col -->
        <div class="col-xs-5 pull-right">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Email reset link</button>
        </div>
        <!-- /.col -->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
