﻿@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<br />
<h2 class="login-box-msg">Reset link sent</h2>
<p class="login-box-msg">
    Please check your email to reset your password.
</p>
