﻿@using HomeAutomation.Web.ViewModels.Account
@model LoginViewModel
@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Log in";
}

<p class="login-box-msg">Sign in to start your session</p>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
    </div>
}


<!-- /.social-auth-links -->
<section id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>
<br />

@Html.ActionLink("I forgot my password", "ForgotPassword")
<br />
@Html.ActionLink("Register as a new user", "Register")