﻿@using HomeAutomation.Web.ViewModels.Account
@model RegisterViewModel
@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Register";
}

<p class="login-box-msg">Register as a new user</p>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
        <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="row">
            <!-- /.col -->
            <div class="col-xs-offset-8 col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
}

<!-- /.social-auth-links -->
<section id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>

@Html.ActionLink("I forgot my password", "ForgotPassword")
<br />
@Html.ActionLink("Login as an existing user", "Login")
