﻿@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Reset password confirmation";
}

<br />
<h2 class="login-box-msg text-success">Success!</h2>
<p class="login-box-msg">
    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>
