﻿@model HomeAutomation.Web.ViewModels.Account.ResetPasswordViewModel
@{
    Layout = "_UnauthorizedLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<p class="login-box-msg">Sign in to start your session</p>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>

    <div class="row">
        <!-- /.col -->
        <div class="col-xs-4 pull-right">
            <button type="submit" value="reset" class="btn btn-primary btn-block btn-flat">Reset password</button>
        </div>
        <!-- /.col -->
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
