﻿@using Microsoft.AspNet.Identity
@model IEnumerable<HomeAutomation.Models.Entities.Location>

@{
    ViewBag.Title = "Location list";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        New location
    </a>
</p>

<div class="box">
    <div class="box-body table-responsive">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Location URL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Port)
                </th>
                <th>
                    Master Key
                </th>
                <th>
                    Is Verified?
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Port)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MasterKey)
                    </td>
                    <td>
                        <span class="glyphicon @(item.IsVerified ? "text-success glyphicon-ok-circle" : "text-danger glyphicon-remove-circle")">
                        </span>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @if (!item.IsVerified)
                        {
                            @Html.ActionLink("Verify", "Verify", new { id = item.Id }) <span> | </span>

                            @*a href="#" data-id="@item.Id" data-url="">
                                Verify
                            </a>
                            <span> | </span>*@
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>