﻿@using HomeAutomation.Models.Wrappers
@using HomeAutomation.Models.Enumeration
@model DashboardIndexViewModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.HidePageHeader = true;
}

<div id="user-info"
     data-user-id="@ViewBag.UserId">
    @Html.AntiForgeryToken()
</div>

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.LocationCount</h3>
                <p>Locations</p>
            </div>
            <div class="icon">
                <i class="ion ion-location"></i>
            </div>
            <a href="@Url.Action("Index", "Locations")" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.DevicesCount</h3>
                <p>Devices</p>
            </div>
            <div class="icon">
                <i class="ion ion-gear-b"></i>
            </div>
            <a href="@Url.Action("Index", "Devices")" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.LocationsSharedFromOtherUsersCount</h3>
                <p>Locations shared from other users</p>
            </div>
            <div class="icon">
                <i class="ion ion-share"></i>
            </div>
            <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.TotalAvailableLocations</h3>
                <p>Total available locations</p>
            </div>
            <div class="icon">
                <i class="ion ion-information-circled"></i>
            </div>
            <a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->

@foreach (UserLocationWrapper location in Model.UserLocations)
{
    @RenderLocationBlock(location);
}

@section scripts {
    <script src="~/Scripts/Custom/dashboard-switch.js"></script>
    <script src="~/Scripts/Custom/dashboard-core.js"></script>
    <script src="~/Scripts/Custom/dashboard-app.js"></script>
}


@helper RenderLocationBlock(UserLocationWrapper location)
{
    <div class="locationHolder">
        <div class="row">
            <div class="col-lg-12">
                <h2>@location.Name</h2>
            </div>
        </div>
        <div class="row clearfix">
            @foreach (var device in location.UserDevices)
            {
                @RenderDeviceBlock(device);
            }
        </div>
    </div>
}

@helper RenderDeviceBlock(UserDeviceWrapper device)
{
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
        <div class="info-box deviceHolder"
             data-id="@device.Id"
             data-local-address="@device.LocalAddress"
             data-deviceType="@device.Type"
             data-location-id="@device.LocationId">
            @switch (device.Type)
            {
                case DeviceType.Sensor:
                    @RenderDeviceBlockForSensor(device);
                    break;
                case DeviceType.Switch:
                    @RenderDeviceBlockForSwitch(device);
                    break;
                case DeviceType.Slider:
                    @RenderDeviceBlockForSlider(device);
                    break;
                case DeviceType.TextSender:
                    @RenderDeviceBlockForTextSender(device);
                    break;
                default:
                    <p>Device type not supported.</p>break;
            }
        </div>
        <!-- /.info-box -->
    </div>
}

@helper RenderDeviceBlockForSensor(UserDeviceWrapper device)
{
    <div class="deviceInit_Sensor">
        <span class="info-box-icon bg-aqua"><i class="fa fa-dashboard"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@device.Name</span>
            <h3 class="deviceStatus">---</h3>
        </div>
    </div>
}

@helper RenderDeviceBlockForSwitch(UserDeviceWrapper device)
{
    <div class="deviceInit_Switch" data-is-checking-status="0" data-is-running-user-command="0">
        <span class="info-box-icon bg-green"><i class="fa fa-power-off"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@device.Name</span>
            @*<span class="deviceStatus">---</span>*@
            <br />
            <div class="btn-group switch-control-container" data-toggle="buttons">
                <label class="switch-control switch-on btn btn-default" data-val="1">
                    <input type="radio" name="switchControl" id="@string.Format("switch{0}", device.Id)" autocomplete="off"> On
                </label>
                <label class="switch-control switch-off btn btn-default" data-val="0">
                    <input type="radio" name="switchControl" id="@string.Format("switch{0}", device.Id)" autocomplete="off"> Off
                </label>
            </div>
        </div>
    </div>
}

@helper RenderDeviceBlockForSlider(UserDeviceWrapper device)
{
    <div class="deviceInit_Slider">
        <span class="info-box-icon bg-orange"><i class="fa fa-sliders"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@device.Name</span>
            <div>
                Not supported yet
            </div>
        </div>
    </div>
}

@helper RenderDeviceBlockForTextSender(UserDeviceWrapper device)
{
    <div class="deviceInit_TextSender">
        <span class="info-box-icon bg-red"><i class="fa fa-font"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">@device.Name</span>
            <div>
                Not supported yet
            </div>
        </div>
    </div>
}