﻿@model HomeAutomation.ViewModels.Permissions.UserPermissionsViewModel

@{
    ViewBag.Title = "ForUser";
}
<p>
  @Html.ActionLink("Create New", "Create")
</p>
<div class="box">
  <div class="box-body">
    <table class="table table-hover table-bordered">
      <tr>
        <th>
          Location
        </th>
        <th>
          Has full control?
        </th>
        <th></th>
      </tr>

      @foreach (var locationPerm in Model.LocationPermissions)
      {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => locationPerm.Location.Name)
            </td>
            <td>
              @Html.DisplayFor(modelItem => locationPerm.HasFullPermissions)
            </td>
            <td>
              @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
          </tr>
        if (!locationPerm.HasFullPermissions && locationPerm.AllowedDevices.Count > 0)
        {
              <tr>
                <td colspan="3">
                  <table class="table">
                    <tr>
                      <th>
                        Device
                      </th>
                      <th>
                        Type
                      </th>
                    </tr>
                    @foreach (var device in locationPerm.AllowedDevices)
                    {
                        <tr>
                          <td>
                            @device.Name
                          </td>
                          <td>
                            @device.Type
                          </td>
                        </tr>
                    }
                    <tr></tr>
                  </table>
                </td>
              </tr>
        }
      }
    </table>
  </div>
</div>
