﻿@model IEnumerable<HomeAutomation.Models.Account.ApplicationUser>

@{
    ViewBag.Title = "Users with permissions for my locations and devices";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary">
        New access rule
    </a>
</p>

<div class="box">
    <div class="box-body">
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("List of permissions", "ForUser", new { id = item.Id })


                    </td>
                    <td>
                        @using (Html.BeginForm("RevokeForUser", "Permissions"))
                        {
                            @Html.AntiForgeryToken()

                            <input type="hidden" value="@item.Id" name="id" />
                            <input type="submit" value="Revoke" class="btn btn-danger" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
